
.showArea {
    min-height: 50px;
    color: #727070;
    font-size: 0.8em;
}

.writeArea {
    border: 1px solid #c9c9c9;
    padding: 5px 10px;
    background: #fff;
    margin: 20px 0;
}

.active {
    border: 1px solid #66ceff;
     box-shadow: 0px 0px 2px #66ceff;
}

.writeArea .word {
    display: inline-block;
    font-size: 18px;
}

.writeArea input {
    border: none;
    font-size: 18px;
     outline: none;
     color: #fff;
}

.writeArea input:focus {
     outline: none;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
    display: inline-block;
    font-size: 14px;
    color : 878383;
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

.writeArea.alert-danger {
    background: #F2DEDE;
}

.writeArea.alert-danger input {
    background: #F2DEDE;
    color: #F2DEDE;
}

.highlightWord span {
    /*background: #000;*/
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.practise .msgHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
}

.practise .messegebox {
  position: absolute;
  background: #fff;
  top: 100px;
  left: 30%;
  width: 400px;
  transform: translateX(-150px);
  padding: 10px;
  border: 1px solid #c9c9c9;
  box-shadow: 0 0 5px #f8f8f8;
  border-radius: 5px;
}