<div class="container practise">
    <div class="row">
        <div class="text">
            {{vm.text}}

        </div>

        <div class="showArea">
            {{vm.sentence}}
        </div>


        <div class="writeArea alert" ng-class="{'alert-danger' : vm.alert, 'active': vm.inputFocus}" tabindex='1'>
            <div class="word">
                {{vm.word}}
            </div>
            <div class="blink">l</div>

            <input type="text" class="" id="typeArea" ng-model='vm.inputChar' ng-blur="vm.inputFocus = false" ng-focus="vm.inputFocus = true; vm.highlightSingleFn()">
        </div>

    </div>
    <div class="row dataHolder" id="dataHolder">
        
    </div>

    <!-- <keyboard keyboard="vm.keyboard"></keyboard> -->
    <keyboard2 keyboard="vm.keyboard" word="vm.highlight" letter="vm.highlightSingle"></keyboard2>
</div>
